<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>741147442005-r201lvdea5anav4ev8atdro8sciimgfs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741147442005-r201lvdea5anav4ev8atdro8sciimgfs</string>
	<key>API_KEY</key>
	<string>AIzaSyBqSV2NzikDxlSjfSkoOyBP5tXBvCMjtfU</string>
	<key>GCM_SENDER_ID</key>
	<string>741147442005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.unlv.keteboa.Heads-or-Tails</string>
	<key>PROJECT_ID</key>
	<string>heads-or-tails-96efa</string>
	<key>STORAGE_BUCKET</key>
	<string>heads-or-tails-96efa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:741147442005:ios:26b5d91f54d907cf</string>
	<key>DATABASE_URL</key>
	<string>https://heads-or-tails-96efa.firebaseio.com</string>
</dict>
</plist>